* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: url('../images/daggerBackground.jpg')center/cover;
    background-attachment: fixed;
}


.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    height: 75px;
}

.list-items a {
    display: inline-block;
    text-decoration: none;
    list-style: none;
    margin: 0 5px;
    margin-right: 20px;
    color: rgb(17, 118, 250);
    letter-spacing: 1.5px;
    transition: all 0.5s;
}

.list-items a:hover {
    color: rgb(114, 169, 240);
    letter-spacing: 0.2px;
}

.logo {
    font-size: 2.5rem;
    margin-left: 20px;
    color: rgb(17, 118, 250);
}

.logo img {
    height: 60px;
    width: 60px;
    background-color: rgb(17, 118, 250);
    padding: 5px;
    border-radius: 50%;
}

.image-container {
    max-width: 1200px;
    height: 60vh;
    margin: 0 auto;
    margin-top: 25px;
}

@keyframes slider {
    0% {
        left: 0;
    }
    20% {
        left: 0;
    }
    25% {
        left: -100%;
    }
    45% {
        left: -100%;
    }
    50% {
        left: -200%;
    }
    70% {
        left: -200%;
    }
    75% {
        left: -300%;
    }
    85% {
        left: -300%;
    }
    95% {
        left: -400%;
    }
    100% {
        left: -400%;
    }
}

.image-container {
    overflow: hidden;
}

.image-container figure img {
    width: 20%;
    float: left;
    
}

.image-container figure {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: 20s slider infinite;
}

.daggerHeading {
    font-family: 'Metal Mania', cursive;
    color: #fff;
    font-weight: lighter;
    letter-spacing: 1.5px;
    text-align: center;;
}

hr {
    width: 80%;
    margin: 20px auto;
}

.daggers-footer {
    background: url('../images/footer-pic.jpg')center/cover no-repeat;
    height: 125px;
    width: 100%;
    margin-top: 25px;
    position: absolute;
    bottom: 0;
    left: 0;
}

p {
    color: rgb(17, 118, 250);
    letter-spacing: 1.5px;
    padding-left: 50px;
    padding-top: 10px;
}

.social {
    height: 35px;
    width: 35px;
    background: rgb(17, 118, 250);
    margin-left: 48px;
    margin-top: 5px;
    border-radius: 50%;
    padding: 2px;
    cursor: pointer;
}


.socialInfo {
    display: flex;
}

.socialIcons {
    padding-top: 25px;
}

.social-p {
    font-size: 25px;
}

.copyRight {
    margin-top: 25px;
}