* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: url('../images/axes-background.jpg')center/cover;
    background-attachment: fixed;
    position: relative;
}


.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    height: 75px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

.list-items a {
    display: inline-block;
    text-decoration: none;
    list-style: none;
    margin: 0 5px;
    margin-right: 20px;
    color: rgb(17, 118, 250);
    letter-spacing: 1.5px;
    position: relative;
}


.logo {
    font-size: 2.5rem;
    margin-left: 20px;
    color: rgb(17, 118, 250);
}

.logo img {
    height: 60px;
    width: 60px;
    background-color: rgb(17, 118, 250);
    padding: 5px;
    border-radius: 50%;
}

#axes-heading {
    color: rgb(17, 118, 250);
    text-align: center;
    margin-top: 100px;
    font-size: 25px;
}



#image-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    padding-top: 20px;
}

.ax-image {
    width: 100%;
    height: 65vh;
    background: url('../images/axslide1.jpg')center/cover no-repeat;
    background-position: top 30% right;
    margin: 0 auto;
    border: 2px solid #fff;
}

hr {
    width: 60%;
    margin: 30px auto;
    opacity: 0;
}

p {
    color: rgb(17, 118, 250);
    letter-spacing: 1.5px;
    padding-left: 50px;
    padding-top: 10px;
}

#axR1 {
    display: flex;
    justify-content: space-evenly;
    margin: 20px auto;
    z-index: -1;
}

.axImages {
    max-width: 1100px;
    height: 350px;
    width: 200px;
    position: relative;
    overflow: hidden;
}

.axImages h1 {
    font-size: 25px;
    font-family: 'Metal Mania', cursive;
    font-weight: lighter;
}

.axImages img {
    width: 100%;
    height: 100%;
}

#axR2 {
    display: flex;
    justify-content: space-evenly;
    margin: 20 auto;
    z-index: -1;
}

.axImages2 {
    max-width: 1100px;
    height: 350px;
    width: 200px;
    position: relative;
    overflow: hidden;
}

.axImages2 h1 {
    font-size: 25px;
    font-family: 'Metal Mania', cursive;
    font-weight: lighter;
}

.axImages2 img {
    width: 100%;
    height: 100%;
}

#axR3 {
    display: flex;
    justify-content: space-evenly;
    margin: 20 auto;
    z-index: -1;
    margin-top: 28px;
}

.axImages3 {
    max-width: 1100px;
    height: 350px;
    width: 200px;
    position: relative;
    overflow: hidden;
}

.axImages3 h1 {
    font-size: 25px;
    font-family: 'Metal Mania', cursive;
    font-weight: lighter;
}

.axImages3 img {
    width: 100%;
    height: 100%;
}

.caption {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgb(17, 118, 250);
    transition: all 0.5s;
    letter-spacing: 1.2px;
    transform: translateX(-100%);
    cursor: pointer;
}

.caption h1 {
    margin: 0;

}

.caption p {
    font-size: 18px;
    font-weight: bold;
    padding: 0 5px;
}

.axImages:hover .caption {
    background-color: rgba(0,0,0,0.9);
    transform: translateX(0);
}

.axImages2:hover .caption {
    background-color: rgba(0,0,0,0.9);
    transform: translateX(0);
}

.axImages3:hover .caption {
    background-color: rgba(0,0,0,0.9);
    transform: translateX(0);
}


.axImages:hover img {
    transform: scale(1.3) rotate(-9deg);
    transition: all 0.5s;
    cursor: pointer;
}

.axImages2:hover img {
    transform: scale(1.3) rotate(-9deg);
    transition: all 0.5s;
    cursor: pointer;
    
}

.axImages3:hover img {
    transform: scale(1.3) rotate(-9deg);
    transition: all 0.5s;
    cursor: pointer;
}


.axes-footer {
    background: url('../images/footer-pic.jpg')center/cover no-repeat;
    height: 80px;
    width: 100%;
    margin-top: 25px;
}