* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: url('../images/armors-background.jpg')center/cover;
}


.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    height: 75px;
}

.list-items a {
    display: inline-block;
    text-decoration: none;
    list-style: none;
    margin: 0 5px;
    margin-right: 20px;
    color: rgb(17, 118, 250);
    letter-spacing: 1.5px;
}

.logo img {
    height: 60px;
    width: 60px;
    background-color: rgb(17, 118, 250);
    padding: 5px;
    border-radius: 50%;
    margin-left: 20px;
}