* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: url('../images/armors-background.jpg')center/cover;
}


.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    height: 75px;
}

.list-items a {
    display: inline-block;
    text-decoration: none;
    list-style: none;
    margin: 0 5px;
    margin-right: 20px;
    color: rgb(17, 118, 250);
    letter-spacing: 1.5px;
}

.logo img {
    height: 60px;
    width: 60px;
    background-color: rgb(17, 118, 250);
    padding: 5px;
    border-radius: 50%;
    margin-left: 20px;
}

.armor-footer {
    background: url('../images/footer-pic.jpg')center/cover no-repeat;
    height: 125px;
    width: 100%;
    margin-top: 25px;

}

p {
    color: rgb(17, 118, 250);
    letter-spacing: 1.5px;
    padding-left: 50px;
    padding-top: 10px;
}

.social {
    height: 35px;
    width: 35px;
    background: rgb(17, 118, 250);
    margin-left: 48px;
    margin-top: 5px;
    border-radius: 50%;
    padding: 2px;
    cursor: pointer;
}

.socialInfo {
    display: flex;
}

.socialIcons {
    padding-top: 25px;
}

.social-p {
    font-size: 25px;
}

.copyRight {
    margin-top: 25px;
}