* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: url('../images/swords-background.jpg')center/cover;
    background-position: 50px  5px;
    background-attachment: fixed;
}


.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    height: 75px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    overflow-Y: hidden;
    z-index: 1;
}

.list-items a {
    display: inline-block;
    text-decoration: none;
    list-style: none;
    margin: 0 5px;
    margin-right: 20px;
    color: rgb(17, 118, 250);
    letter-spacing: 1.5px;
    transition: all .5s;
}

.list-items a:hover {
    color: rgb(114, 169, 240);
    letter-spacing: 0.2px;
}


.logo {
    font-size: 2.5rem;
    margin-left: 20px;
    color: rgb(17, 118, 250);
}

.logo img {
    height: 60px;
    width: 60px;
    background-color: rgb(17, 118, 250);
    padding: 5px;
    border-radius: 50%;
}

.image-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    padding-top: 100px;
}

.image {
    width: 100%;
    height: 65vh;
    background: url('../images/sword-fight1.jpg')center/cover no-repeat;
    background-position: top 30% right;
    margin: 0 auto;
    border: 2px solid #fff;
    animation: change-bg 10s linear infinite;
}

.text {
    align-items: center;
    border: 2px solid #000;
    width: 50vw;
    background: #000;
    font-size: 1.25rem;
    color: rgb(17, 118, 250);
    padding: 10px;
}



@keyframes change-bg {
	0% { background: url(../images/sword-fight1.jpg) center/cover top 30% right; }
	20% { background: url(../images/sword-fight1.jpg) center/cover; }
    25% { background: url(../images/sword-fight2.jpg) center/cover; }
    35% { background: url(../images/sword-fight2.jpg) center/cover; }
    40% { background: url(../images/sword-fight3.jpg) center/cover; }
	50% { background: url(../images/sword-fight3.jpg) center/cover; }
	75% { background: url(../images/sword-fight5.jpg) center/cover; }
	100% { background: url(../images/sword-fight5.jpg) center/cover; }
}

#swordsImgHeading {
    color: #fff;
    text-align: center;
    font-family: 'Metal Mania', cursive;
    letter-spacing: 2.5px;
    font-weight: lighter;
    margin: 20px auto;
    width: 80%;
}

hr {
    width: 80%;
    margin: 20px auto;
   
}

.caption {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 35%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgb(17, 118, 250);
    transition: all 0.5s;
    background-color: rgba(0,0,0,0.9);
    letter-spacing: 1.2px;
    transform: translateY(100%);
    cursor: pointer;
}

.caption h1 {
    margin: 0;

}

.caption p {
    font-size: 18px;
    font-weight: bold;
    padding: 0 5px;
}

.swordImages:hover .caption {
   transform: translateY(0);
   transition: 0.5s;
}

.swordImages:hover img {
    cursor: pointer;
}

#swordsR1 {
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
    margin-bottom: 90px;
}

.swordImages {
    max-width: 1100px;
    height: 350px;
    width: 200px;
    position: relative;
    overflow: hidden;
}

.swordImages h1 {
    font-size: 25px;
    font-family: 'Metal Mania', cursive;
    font-weight: lighter;
}

.swordImages img {
    width: 100%;
    height: 100%;
    margin-top: 20px;
}



#swordsR2 {
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
    padding-top: 20px;
    margin-bottom: 90px;
}

.swordImages2 h1 {
    font-size: 25px;
    font-family: 'Metal Mania', cursive;
    font-weight: lighter;
}

.swordImages2 {
    max-width: 1100px;
    height: 350px;
    width: 200px;
    position: relative;
    overflow: hidden;
}

.swordImages2 img {
    width: 100%;
    height: 100%;
    margin-top: 20px;
}

.swordImages2:hover .caption {
    transform: translateY(0);
    transition: 0.5s;
 }
 
 .swordImages2:hover img {
     cursor: pointer;
 }

#swordsR3 {
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
    margin-bottom: 90px;
}

.swordImages3 h1 {
    font-size: 25px;
    font-family: 'Metal Mania', cursive;
    font-weight: lighter;
}

.swordImages3 {
    max-width: 1100px;
    height: 350px;
    width: 200px;
    position: relative;
    overflow: hidden;
}

.swordImages3 img {
    width: 100%;
    height: 100%;
    margin-top: 20px;
}

.swordImages3:hover .caption {
    transform: translateY(0);
    transition: 0.5s;
 }
 
 .swordImages3:hover img {
     cursor: pointer;
 }

 .swords-footer {
    background: url('../images/footer-pic.jpg')center/cover no-repeat;
    height: 125px;
    width: 100%;
    margin-top: 25px;

}

p {
    color: rgb(17, 118, 250);
    letter-spacing: 1.5px;
    padding-left: 50px;
    padding-top: 10px;
}

.social {
    height: 35px;
    width: 35px;
    background: rgb(17, 118, 250);
    margin-left: 48px;
    margin-top: 5px;
    border-radius: 50%;
    padding: 2px;
    cursor: pointer;
}

.socialInfo {
    display: flex;
}

.socialIcons {
    padding-top: 25px;
}

.social-p {
    font-size: 25px;
}

.copyRight {
    margin-top: 25px;
}